.MemberListContainer {

}

.MemberListContainer-action-area {
  width: 100%;
  display: block;
  text-align: right;
}

.MemberListContainer-action-area .button {
  font-size: 30px;
  cursor: pointer;
  color: #4192f7;
  float: right;
  width: 20px;
}
